@model Balkhanakovv.Currencies.Models.Currency



<h3>@Model.Name</h3>
<h6>@Model.ID</h6>

<div>
  <canvas id="@(Model.CharCode)_Chart"></canvas>
</div>

<script>
  const @(Model.CharCode)_labels = [
    '01.03.2022',
    '02.03.2022',
    '03.03.2022',
    '04.03.2022',
    '05.03.2022',
    '06.03.2022',
  ];

  const @(Model.CharCode)_data = {
    labels: @(Model.CharCode)_labels,
    datasets: [{
      label: 'USD',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [93.5589, 91.7457, 103.2487, 111.7564, 105.8124, 105.8124],
    }]
  };

  const @(Model.CharCode)_config = {
    type: 'line',
    data: @(Model.CharCode)_data,
    options: {}
  };
</script>

<script>
  const @(Model.CharCode)_Chart = new Chart(
    document.getElementById('@(Model.CharCode)_Chart'),
    @(Model.CharCode)_config
  );
</script>