@model Balkhanakovv.Currencies.Models.Currency

@{
    var recLenght = Model.Records.Records.Count;
}

<h3>@(Model.Name) (@Model.CharCode)</h3>
<h6>Номинал: @Model.Nominal</h6>

<div>
  <canvas id="@(Model.CharCode)_Chart"></canvas>
</div>

<script>
  const @(Model.CharCode)_labels = [
    '@(Model.Records.Records[recLenght-6].Date)',
    '@(Model.Records.Records[recLenght-5].Date)',
    '@(Model.Records.Records[recLenght-4].Date)',
    '@(Model.Records.Records[recLenght-3].Date)',
    '@(Model.Records.Records[recLenght-2].Date)',
    '@(Model.Records.Records[recLenght-1].Date)',
  ];

  const @(Model.CharCode)_data = {
    labels: @(Model.CharCode)_labels,
    datasets: [{
      label: '@(Model.CharCode)',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [   @(Model.Records.Records[recLenght-6].Value.Replace(',', '.')), 
                @(Model.Records.Records[recLenght-5].Value.Replace(',', '.')), 
                @(Model.Records.Records[recLenght-4].Value.Replace(',', '.')), 
                @(Model.Records.Records[recLenght-3].Value.Replace(',', '.')), 
                @(Model.Records.Records[recLenght-2].Value.Replace(',', '.')), 
                @(Model.Records.Records[recLenght-1].Value.Replace(',', '.'))]
    }]
  };

  const @(Model.CharCode)_config = {
    type: 'line',
    data: @(Model.CharCode)_data,
    options: {}
  };
</script>

<script>
  const @(Model.CharCode)_Chart = new Chart(
    document.getElementById('@(Model.CharCode)_Chart'),
    @(Model.CharCode)_config
  );
</script>